.input-box {
  background-color: transparent;
  border: 2px solid rgb(78, 77, 77);
  color: white;
}
.input-box:focus {
  background-color: transparent;
  border: 2px solid rgb(78, 77, 77);
  color: white;
}
.input-area {
  display: flex;
  justify-content: center;
  position: fixed;
  top: -5%;
  right: 45%;
  z-index: 111;
}
.body-area {
  margin-top: 20%;
}
